<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dryseed.dstrackerimp">

    <application>
        <activity
            android:name="com.dryseed.dstracker.ui.TimeCostDetailActivity"
            android:enabled="false"
            android:icon="@drawable/time_cost_canary_icon"
            android:label="@string/time_cost_canary_detail_activity_label"
            android:taskAffinity="com.dryseed.dstrackerimp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
